page-home {

    .event-row{
        padding-bottom:2px 
    }
    .event-title h2{
        color: black;
    }
     .event-title p{
        color: black;
    }
    .event-title .label-md{
        margin-bottom:3px;
    }
    .event-info p{
        text-align: justify;
    }
}
